.MainContentPlus{
    margin:20px;
    font-family :Roboto;
    font-size : 16px;
}

#search {
    overflow: hidden;
    white-space: nowrap;
}
.Searchbar {
    height: 100%;
    width: 100%;
    margin: 5px 0px;
    padding: 10px 10px;
    border-radius: 15px;
    font-size: 18px;
    line-height: 20px;
    border: 1px solid #373f41;
    color: white;
}
#SearchButton {
    margin-left: -50px;
    padding-top: 7px;
    border-radius: 1px;
    color: #373f41;
    border: 0;
}

.Homepage{
    
}

.Homepage-Bottom {
    margin : 10px;
    padding: 20px 10px;
    border: 1px solid #373f41;
    background-color: #373f41;
    border-radius: 15px;
    color: #373f41;
}

.Homepage-List {
    margin : 5px 10px;
    border: 1px solid #fff;
    padding : 10px;
    background-color: #fff;
    border-radius: 15px;
    color: #373f41;
}

.cardPlus {
    margin: 5px 20px;
    text-align: center;
    padding: 15px 0px;
    border-radius: 10px;
    background-color: #F4F5F4;
    color: #373F41;
}

.card-img-topPlus{
    width : 100%;
    padding: 5px 10px;

}
.footerPlus {
    height: 200px;
    font-family: Roboto;
    padding: 20px 50px;
    background: #373f41;
    color: lightcyan;
}
.round-link {
    height: 100px;
    padding : 5px;
    background-color: #373f41;
    display :flex;
    flex-direction :column;
}
.round-link-elipse {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75px;
    height: 75px;
    border-radius: 60px;
    border: #373f41 1px solid;
}
.round-link a {
    text-align :center;
    text-decoration :none;
    font-size : 16px;
    color : white;
}

.ulPlus{
    display:flex;
    flex-direction : column;
}
.liPlus {
    margin: 2px;
    text-decoration: none;
    color: wheat;
}

.liPlus:hover{
    color : white;
    text-decoration : none;
}