.MainContentPlus{
    margin:20px;
    font-family :Roboto;
    font-size : 16px;
}
a:hover {
    text-decoration: none;
}
#searchPanel {
    overflow: hidden;
    white-space: nowrap;
}
.midColumn {
    margin-left: auto;
    margin-right: auto;
}

.midRow {
    margin-top: auto;
    margin-bottom: auto;
}
.Searchbar {
    height: 90%;
    width: 100%;
    margin: 5px 0px;
    padding: 10px 30px;
    border-radius: 15px;
    font-size: 18px;
    line-height: 20px;
    border: 1px solid #373f41;
    color: #373f41;
}
.SearchButton {
    margin-top:auto;
    margin-bottom:auto;
    margin-left:-45px;
    border:1px solid #97C200;
    background-color:#97C200;
    border-radius:20px;
    width:35px;
    height:35px;
    padding:2px;
}
.MapButton {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: -45px;
    border: 1px solid #FFF;
    background-color: #FFF;
    border-radius: 20px;
    width: 35px;
    height: 35px;
    padding: 2px;
}

.Homepage {
    padding: 30px 45px;
}
.Homepage-Bottom {
    padding: 20px 0px;
    border: 1px solid #FFF;
    background-color: #FFF;
    border-radius: 15px;
    color: #FFF;
}

.navItem {
    margin: auto 12.5px;
    height: 100%;
    color: #9E9E9E;
    text-decoration:none;
    font-size:18px;
    font-weight:500;
    border:none;
    background-color:#fff;
}
.navItem:hover {
    color: #9E9E9E;
}

.daftarNavPlus {
    width: 100%;
    height: 100%;
    border-radius: 6px;
    margin-right: 5px;
    color: #97C200;
    font-weight: 500;
    border: 1px solid #808384;
    background-color: #FFF;
}

.masukNavPlus {
    width: 100%;
    height: 100%;
    border-radius: 6px;
    margin-right: 5px;
    color: #FFF;
    font-weight: 500;
    background-color: #97C200;
    border: 2px solid #97C200;
}

.Homepage-List {
    margin: 5px 0px;
    border: 1px solid #fff;
    padding: 20px 0px;
    background-color: #fff;
    border-radius: 15px;
    color: #373f41;
}

.imgHomePlus {
    border-radius: 10px;
    flex: 0 0 21%;
    max-width: 21%;
    position: relative;
    width: 100%;
    margin: 10px 0px;
}
.imgDividePlus {
    position: relative;
    width: 100%;
    flex: 0 0 3%;
    max-width: 3%;
}

.cardPlus {
    margin: 5px 20px;
    text-align: center;
    padding: 15px 0px;
    border-radius: 10px;
    background-color: #F4F5F4;
    color: #373F41;
}

.card-img-topPlus{
    width : 100%;
    margin:auto auto;
    padding: 10px 20px;

}
.footerPlus {
    height: 200px;
    font-family: Roboto;
    padding: 20px 50px;
    background: #373f41;
    color: lightcyan;
}
.round-link {
    height: 100px;
    padding : 5px;
    background-color: #373f41;
    display :flex;
    flex-direction :column;
}
.round-link-elipse {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75px;
    height: 75px;
    border-radius: 60px;
    border: #373f41 1px solid;
}
.round-link a {
    text-align :center;
    text-decoration :none;
    font-size : 16px;
    color : white;
}

.ulPlus{
    display:flex;
    flex-direction : column;
}
.liPlus {
    margin: 2px;
    text-decoration: none;
    color: wheat;
}

.liPlus:hover{
    color : white;
    text-decoration : none;
}
.form-modal-topup {
    position: absolute;
    top:20%;
    left:20%;
    display: block;
    background-color: white;
    box-shadow: 10px 10px 5px #888888;
    border: 1px solid #888;
    width: 50%;
    height:550px;
    overflow:scroll;
}
.imgTB{
    width:100%;
    position:page;
}
.btnClose{
    top:10px;
    right:10px;
    position:absolute;
    border:none;
    background-color:#FFF;
    color:#9E9E9E;
    font-weight:bold;
}