.KeranjangPlus {
    padding: 30px 85px;
}

.labelHeader {
    color: #97C200;
    font-size: 24px;
    font-weight: bold;
    margin-bottom:10px;
}
.labelSubHeader {
    color: #373f41;
    font-size: 16px;
    font-weight: bold;
}
.keranjangKosong{
    align-self:center;
    display:flex;
    flex-direction:column;
}
.ringkasanBelanja{
    padding:15px;
    border:1px solid #9B9FA0;
    border-radius:20px;
}
.listKeranjangBelanja {
    border: 1px solid #373f41;
    padding: 10px;
}
.listHeaderKeranjangBelanja {
    border-bottom: 1px solid #373f41;
}
.itemKeranjangBelanja{
    
}
.tblRow {
    margin: 10px 0px;
    padding: 10px;
    border-top: 1px solid #9B9FA0;
    border-bottom: 1px solid #9B9FA0;
}
.tblKeranjangPlus {
    border-radius: 15px;
    padding: 20px 30px;
    border: 1px solid #373F41;
}
.lblHargaListPlus{
    color:white;
    background-color:#97C200;
    border-radius:20px;
    padding:2px 15px;
    margin-right:10px;
    margin-bottom:auto;
    margin-top:auto;
}
.panelPembelianMain {
    padding: 25px 15px;
    border: 1px solid #9B9FA0;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
}
.panelPembelianSub {
    padding: 25px 40px;
    border: 1px solid #9B9FA0;
    border-radius: 15px;
}
.nomorDataPembelianBelanja{
    border:1px solid #97C200;
    color:#FFF;
    background-color:#97C200;
    border-radius:20px;
    margin:5px auto;
    width:30px;
    height:30px;
    text-align:center;
    font-size:20px;
}
.form-modal-panel {
    position: absolute;
    top: 20%;
    left: 37%;
    display: block;
    background-color: white;
    box-shadow: 10px 10px 5px #888888;
    border: 1px solid #888;
    width: 25%;
    height: 520px;
    z-index: 1;
}
.btnNmb {
    flex: 0 0 20%;
    max-width: 20%;
}
.btnDivide {
    flex: 0 0 5%;
    max-width: 5%;
}
.masukLoginPlusPlus {
    width: 100%;
    height: 40px;
    border-radius: 6px;
    margin-top:20px;
    color: #FFF;
    font-weight: 500;
    background-color: #97C200;
    border: 1px solid #97C200;
}
.buttonMerah {
    color: #CF212A;
    font-weight:bold;
    border:none;
    background-color:#FFF;
    right:200px;
    text-align:right;
}

.btnBiru {
    margin-right: 20px;
    color: #229BD8;
    margin-left:15px;
    background-color:#fff;
    border:none;
}
.lblAlamat {
    margin: 0px 20px;
    background-color: #f4f5f4;
    border-radius:10px;
}