
/* Float the link section to the right */
.header-right {
    float: right;
}

.text {
    margin: 20px auto;
    padding-right : 30px;
    font-family: Roboto;
    color: white;
    font-size: 24px;
}

.button-text {
    font-family: Roboto;
    color: gray;
    font-size: 24px;
    margin-left: 5px;
    margin-top: 25px;
    margin-bottom: 25px;
}
.active, button-text:hover{
    color : black;
}

.buttonpesanan {
    font-size: 16px;
    color: white;
    background-color: #9B9FA0;
    border-radius: 10px;
    padding: 8px;
}
.actice .buttonpesanan {
    background-color: #97C200;
}


.button-out {
    vertical-align: bottom;
    margin-top: 50px;
    margin-left: 30px;
    width: 150px;
    border-radius: 8px;
    font-family: Roboto;
    color: white;
    background-color: #CF212A;
}
.button-Verifikasi {
    font-size: 20px;
    font-display: auto;
    margin-top: 50px;
    margin-bottom: 5px;
    width: 150px;
    border-radius: 8px;
    font-family: Roboto;
    color: white;
    background-color: #97C200;
}  
.brand{
    padding-left : 30px;
}
.navbar {
    padding: .8rem;
}

.nav-item {
    display : block;
    width : 100%;
    font-family: Roboto;
    font-size: 24px;
    background-color: white;
    margin-bottom: 10px;
    border-radius : 20px;
}
.nav-item img{
    opacity :0.5;

}
.active, .nav-item:hover {
    background-color: #EACB00;
    color : black;

}
.active img{
    opacity : 1;
}


.nav-link {
    font-size: 20px;
}

.wrapper {
    margin-top: 67px auto;
}

.contentpertama{
}
.rowcontent{
    height: 200px;
}
.rowsaldo {
    height: 300px;
}
.produk{
    height : 400px;
}
/*card*/
.card {
    height : 120px;
    padding-right : 2px;
    background-color: #97C200;
}
.card-text{

    color : white;
    font-family : Roboto;
    font-size : 16px;
}
.card-number {
    color: white;
    font-family: Roboto;
    text-align: left;
    font-size: 34px;
}
.card-button {
    color: white;
    font-family: Roboto;
    text-align: right end;
    font-size: 18px;
}
.sb-example-1 .search {
    width: 100%;
    position: relative;
    display: flex;
}

.sb-example-1 .searchTerm {
    width: 100%;

    border-right: none;
    padding: 5px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
}

    .sb-example-1 .searchTerm:focus {
        color: black;
    }

.sb-example-1 .searchButton {
    width: 40px;
    height: 50px;
    background: #97C200;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}

.image-preview {
    width :300px;
    min-height : 150px;
    border :2px solid #dddddd;
    margin-top :15px;
    margin-bottom :10px; 

    display:flex;
    align-items :center;
    justify-content :center;
    font-weight : bold;
    color : #cccccc;
}
.image-preview-image {
    display :none;
    width: 100%;
}
.image-preview-gambar {
    width: 300px;
    min-height: 150px;
    border: 2px solid #dddddd;
    margin-top: 15px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #cccccc;
}

.image-preview-gambar-image {
    display: none;
    width: 100%;
}

/*
messagebox
*/
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }
.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

/* Modal Body */
.modal-body {
    padding: 2px 16px;
}

/* Modal Footer */
.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

/* Modal Content */


/* Add Animation */
@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}
/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */